@charset "utf-8";

/*ウィンドウ背景色の設定*/
body{background: #fff url(img/bg-stripe01.png) repeat-x;
    font-size: 12px;
    font-family:"メイリオ",sans-serif;}

/*リンク色の設定*/
a{color: #0000ee;}

a:active{color:#f00;}

a:hover{color: #4400ee;}

a:visited{color: #551a8b;}

body{width:950px;
	 margin:0px auto;
	 background-color: #fff;
	 border-left:  #000 2px solid;
	 border-right: #000 2px solid;}
	
#title{color:#000;
	   font-size:400%;
        background-image: linear-gradient(60deg,#aad9d8,#fefaf3);
	    text-align: center;
		padding: 100px 0px;}

nav{width:950px;
    background-color:#fff;
	font-size: 200%;
    text-align:center;}


.nav{width:218px;
	 border:#000 2px solid;
	 background-color:#eee;
	 float:left;
	 padding:49px 0px;}

#nav1{margin:0px 20px 0px 0px;
      background-color:#eae7f3;}
#nav2{
	margin:0px 20px 0px 0px;
    background-color:#9abadb;}
#nav3{margin:0px 20px 0px 0px;
      background-color:#fef0d7;}
#nav4{width:220px;}

.text{font-size:180%;
	  font-weight:600; }


.underline{font-size: 150%;}

#0,#1,#2,#3{border-bottom: #c7b885 2px dotted;}

.ukasu{float:right;}

.clear{clear:both;}

#floatleft{float:left;}

.display{display:flex;}

	


