@charset "utf-8";

/*ウィンドウ背景色の設定*/
body{background: #fff url(img/bg-stripe01.png) repeat-x;
    font-size: 12px}

/*リンク色の設定*/
a{color: #0000ee;}

a:active{color:#f00;}

a:hover{color: #4400ee;}

a:visited{color: #551a8b;}

body{width:950px;
	 margin:0px auto;
	 background-color: #aaa;
	 border-left:  #000 2px solid;
	 border-right: #000 2px solid;}
	
#title{color:#000;
	   font-size:300%;
        background-color: #666;
	    text-align: center;
		padding: 100px 0px;}

nav{width:950px;
	height:100px;
    background-color:#fff;
	font-size: 120%;}


.nav{width:221px;
	 border:#000 2px solid;
	 background-color:#a6a4a4;
	 float:left;}

#nav1,#nav2,#nav3{
	margin:0px 20px 0px 0px;}

.text{font-size:150%}


